{% load static %}
<div class="messages custom-scroll active" id="chating">
    <div class="contact-details">
        <div class="row">
            <form class="form-inline search-form">
                <div class="form-group">
                    <input class="form-control-plaintext" type="search" placeholder="جستجو.."/>
                    <div class="icon-close close-search"></div>
                </div>
            </form>
            <div class="col-7">
                {% if room.user1 == user %}
                    <div class="media left">
                    <div class="media-left mr-3">
                        {% if room.user2.profile_image %}
                            <div class="profile online menu-trigger"><img class="bg-img"
                                                                          src="{{ room.user2.profile_image.url }}"
                                                                          alt="Avatar"/></div>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h5>{{ room.user2.name }} {{ room.user2.family_name }}</h5>
                        <div class="badge badge-success">آنلاین</div>
                    </div>
                {% else %}
                    <div class="media left">
                    <div class="media-left mr-3">
                        {% if room.user1.profile_image %}
                            <div class="profile online menu-trigger"><img class="bg-img"
                                                                          src="{{ room.user1.profile_image.url }}"
                                                                          alt="Avatar"/></div>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h5>{{ room.user1.name }} {{ room.user1.family_name }}</h5>
                        <div class="badge badge-success">آنلاین</div>
                    </div>
                {% endif %}
                <div class="media-right">
                    <ul>
                        <li><a class="icon-btn btn-light button-effect mute" href="#"><i
                                class="fa fa-volume-up"></i></a>
                        </li>
                        <li><a class="icon-btn btn-light search search-right" href="#"><i
                                data-feather="search"></i></a>

                        </li>
                        <li><a class="icon-btn btn-light button-effect mobile-sidebar" href="#"><i
                                data-feather="chevron-left"></i></a></li>
                    </ul>
                </div>
                </div>
                </div>
                <div class="col">
                    <ul class="calls text-right">
                        <li><a class="icon-btn btn-light button-effect" href="#"
                               data-tippy-content="تماس صوتی سریع"
                               data-toggle="modal" data-target="#audiocall"><i data-feather="phone"></i></a>
                        </li>
                        <li><a class="icon-btn btn-light button-effect" href="#"
                               data-tippy-content="تماس تصویری سریع" onclick="popUpVideoCall()"
                               data-toggle="modal" data-target="#videocall"><i data-feather="video"></i></a>
                        </li>
                        <li><a class="icon-btn btn-light button-effect apps-toggle" href="#"
                               data-tippy-content="تمام برنامه ها"><i class="ti-layout-grid2"></i></a></li>
                        <li class="chat-friend-toggle"><a
                                class="icon-btn btn-light bg-transparent button-effect outside"
                                href="#" data-tippy-content="عملیات سریع"><i
                                data-feather="more-vertical"></i></a>
                            <div class="chat-frind-content">
                                <ul>
                                    <li><a class="icon-btn btn-outline-primary button-effect btn-sm" href="#"><i
                                            data-feather="user"></i></a>
                                        <h5>پروفایل</h5>
                                    </li>
                                    <li><a class="icon-btn btn-outline-success button-effect btn-sm" href="#"><i
                                            data-feather="plus-circle"></i></a>
                                        <h5>بایگانی</h5>
                                    </li>
                                    <li><a class="icon-btn btn-outline-danger button-effect btn-sm" href="#"><i
                                            data-feather="trash-2"></i></a>
                                        <h5>حذف</h5>
                                    </li>
                                    <li><a class="icon-btn btn-outline-light button-effect btn-sm" href="#"><i
                                            data-feather="slash"></i></a>
                                        <h5>مسدود</h5>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-chat">
            <ul class="chatappend">
                {% for chat in chats %}
                    {% if chat.sender == user %}
                        <li class="send">
                            <div class="media">
                                <div class="profile mr-4"><img class="bg-img" src="assets/images/contact/2.jpg"
                                                               alt="Avatar"/></div>
                                <div class="media-body">
                                    <div class="contact-name">
                                        <h5>{{ chat.sender.name }}{{ chat.sender.family_name }}</h5>
                                        <h6>{{ chat.date | date:"H:i:s Y-m-d" }}</h6>
                                        <ul class="msg-box">
                                            <li class="msg-setting-main">
                                                <h5> {{ chat.message }}</h5>
                                                <div class="msg-dropdown-main">
                                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                                    <div class="msg-dropdown">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-share"></i>فروارد</a></li>
                                                            <li><a href="#"><i class="fa fa-clone"></i>کپی</a></li>
                                                            <li><a href="#"><i class="fa fa-star-o"></i>امتیاز</a></li>
                                                            <li><a href="#"><i class="ti-trash"></i>حذف</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="replies">
                            <div class="media">
                                <div class="profile mr-4"><img class="bg-img" src="assets/images/contact/2.jpg"
                                                               alt="Avatar"/></div>
                                <div class="media-body">
                                    <div class="contact-name">
                                        <h5>{{ chat.sender.name }}{{ chat.sender.family_name }}</h5>
                                        <h6>{{ chat.date | date:"H:i:s Y-m-d" }}</h6>
                                        <ul class="msg-box">
                                            <li class="msg-setting-main">
                                                <h5> {{ chat.message }}</h5>
                                                <div class="msg-dropdown-main">
                                                    <div class="msg-setting"><i class="ti-more-alt"></i></div>
                                                    <div class="msg-dropdown">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-share"></i>فروارد</a></li>
                                                            <li><a href="#"><i class="fa fa-clone"></i>کپی</a></li>
                                                            <li><a href="#"><i class="fa fa-star-o"></i>امتیاز</a></li>
                                                            <li><a href="#"><i class="ti-trash"></i>حذف</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="message-input">
        <div class="wrap emojis-main"><a
                class="icon-btn btn-outline-primary button-effect mr-3 toggle-sticker outside" href="#">
            <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2158px" height="2148px"
                 viewbox="0 0 2158 2148" enable-background="new 0 0 2158 2148" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="60"
                      stroke-miterlimit="10"
                      d="M699,693                        c0,175.649,0,351.351,0,527c36.996,0,74.004,0,111,0c18.058,0,40.812-2.485,57,1c11.332,0.333,22.668,0.667,34,1                        c7.664,2.148,20.769,14.091,25,20c8.857,12.368,6,41.794,6,62c0,49.329,0,98.672,0,148c175.649,0,351.351,0,527,0                        c0-252.975,0-506.025,0-759C1205.692,693,952.308,693,699,693z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M886,799c59.172-0.765,93.431,25.289,111,66c6.416,14.867,14.612,39.858,9,63                        c-2.391,9.857-5.076,20.138-9,29c-15.794,35.671-47.129,53.674-90,63c-20.979,4.563-42.463-4.543-55-10                        c-42.773-18.617-85.652-77.246-59-141c10.637-25.445,31.024-49,56-60c7.999-2.667,16.001-5.333,24-8                        C877.255,799.833,882.716,801.036,886,799z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1258,799c59.172-0.765,93.431,25.289,111,66c6.416,14.867,14.612,39.858,9,63                        c-2.391,9.857-5.076,20.138-9,29c-15.794,35.671-47.129,53.674-90,63c-20.979,4.563-42.463-4.543-55-10                        c-42.773-18.617-85.652-77.246-59-141c10.637-25.445,31.024-49,56-60c7.999-2.667,16.001-5.333,24-8                        C1249.255,799.833,1254.716,801.036,1258,799z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1345,1184c-0.723,18.71-11.658,29.82-20,41c-18.271,24.489-50.129,37.183-83,47                        c-7.333,1-14.667,2-22,3c-12.013,2.798-33.636,5.15-44,3c-11.332-0.333-22.668-0.667-34-1c-15.332-3-30.668-6-46-9                        c-44.066-14.426-80.944-31.937-110-61c-22.348-22.353-38.992-45.628-37-90c0.667,0,1.333,0,2,0c9.163,5.585,24.723,3.168,36,6                        c26.211,6.583,54.736,7.174,82,14c34.068,8.53,71.961,10.531,106,19c9.999,1.333,20.001,2.667,30,4c26.193,6.703,54.673,7.211,82,14                        C1304.894,1178.445,1325.573,1182.959,1345,1184z">
                </path>
                <polygon fill-rule="evenodd" clip-rule="evenodd"
                         points="668.333,1248.667 901.667,1482 941.667,1432 922.498,1237.846                         687,1210.667 ">
                </polygon>
              </svg>
        </a>
            <div class="dot-btn dot-primary mr-3"><a
                    class="icon-btn btn-outline-primary button-effect toggle-emoji"
                    href="#"><i data-feather="smile"></i></a></div>
            <div class="contact-poll"><a class="icon-btn btn-outline-primary mr-4 outside" href="#"><i
                    class="fa fa-plus"></i></a>
                <div class="contact-poll-content">
                    <ul>
                        <li><a href="#"><i data-feather="image"></i>گالری</a></li>
                        <li><a href="#"><i data-feather="camera"></i>دوربین</a></li>
                        <li><a data-toggle="modal" data-target="#snippetModal"><i data-feather="code"> </i>قطعه
                            کد</a>
                        </li>
                        <li><a href="#"><i data-feather="user"> </i>مخاطب</a></li>
                        <li><a href="#"><i data-feather="map-pin"> </i>موقعیت مکانی</a></li>
                        <li><a><label  for="chat-file"><i data-feather="clipboard"></i>فایل</label><input id="chat-file" type="file"/></a></li>
                        <li><a data-toggle="modal" data-target="#pollModal"><i
                                data-feather="bar-chart-2"> </i>نظرسنجی</a>
                        </li>
                        <li><a href="#"><i data-feather="paperclip"> </i>پیوست</a></li>
                    </ul>
                </div>
            </div>
            <input class="setemoj" id="setemoj" type="text" placeholder="پیام خود را اینجا بنویسید..."/><a
                    class="icon-btn btn-outline-primary button-effect mr-3 ml-3" href="#"><i
                    data-feather="mic"> </i></a>
            <button class="submit icon-btn btn-primary disabled" id="send-msg"><i
                    data-feather="send">
            </i></button>
            <div class="emojis-contain">
                <div class="emojis-sub-contain custom-scroll">
                    {% include 'emoji.html' %}
                </div>
            </div>
            <div class="sticker-contain">


            </div>
        </div>
    </div>


    <div class="input-box">

        {{ room_id|json_script:"room-name" }}
        <input type="hidden" id="chat-replay-id">
    </div>


    <script>
        var chat = document.getElementById('chat-log');
        $(document).ready(function () {
            chat.scrollTo(0, document.querySelector("#chat-log").scrollHeight);
        });

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const replay_id = document.getElementById('chat-replay-id')

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        const fileSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/file/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var chat = document.getElementById('chat-log');
            chat.scrollTo(0, document.querySelector("#chat-log").scrollHeight);
        };


        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#setemoj').focus();
        document.querySelector('#setemoj').onkeyup = function (e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#send-msg').click();
            }
        };

        document.querySelector('#send-msg').onclick = function (e) {
            const messageInputDom = document.querySelector('#setemoj');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'event': 'message',
                'type': 'pv',
            }))
            messageInputDom.value = '';
        }

        function readFile() {
            if (this.files && this.files[0]) {
                var file = document.getElementById("chat-file")
                var FR = new FileReader();
                FR.addEventListener("load", function (e) {
                    fileSocket.send(JSON.stringify({
                        'file': e.target.result,
                        'name': file.value,
                        'type': 'pv',
                        'event': 'file'
                    }));
                });

                FR.readAsDataURL(this.files[0]);
            }

        }

        document.getElementById("chat-file").addEventListener("change", readFile);

        function closeChat() {
            chatSocket.close();
            fileSocket.close();
        }
    </script>
    <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/ckeditor/styles.js' %}"></script>
    <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
    <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
    <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
    <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
    {#  <script src="{% static 'js/tour/intro.js' %}"></script>#}
    {#  <script src="{% static 'js/tour/intro-init.js' %}"></script>#}
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/zoom-gallery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>
</div>