{% load static %}
<div class="contact-sub-content"><a class="icon-btn btn-outline-primary button-effect mobile-back mb-3"
                                    href="#"><i class="ti-angle-right"></i></a>
    <div class="row">
        <div class="col-sm-5">
            <div class="user-profile">
                <div class="user-content"><img class="img-fluid bg-icon" src="{% static 'images/contact/2.jpg' %}"
                                               alt="user-img"/>
                    <h3>سعید مظفری</h3>
                    <ul>
                        <li><i class="fa fa-twitch"> </i>پیام</li>
                        <li><i class="fa fa-phone"> </i>تماس صوتی</li>
                        <li><i class="fa fa-video-camera"> </i>تماس تصویری</li>
                    </ul>
                </div>
            </div>
            <div class="personal-info-group">
                <div class="social-info-group">
                    <ul class="integratin mt-0">
                        <li>
                            <div class="media">
                                <div class="media-left"><a class="fb" href="https://www.facebook.com/login"
                                                           target="_blank"><i
                                        class="fa fa-facebook"></i>
                                    <h5>فیسبوک </h5>
                                </a></div>
                                <div class="media-right">
                                    <div class="profile bg-size"><img class="bg-img"
                                                                      src="{% static 'images/contact/1.jpg' %}"
                                                                      alt="Avatar"/></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-left"><a class="twi" href="https://twitter.com/login"
                                                           target="_blank"><i
                                        class="fa fa-twitter"></i>
                                    <h5>توییتر </h5>
                                </a></div>
                                <div class="media-right">
                                    <div class="profile bg-size"><img class="bg-img"
                                                                      src="{% static 'images/contact/3.jpg' %}"
                                                                      alt="Avatar"/></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-left"><a class="ggl"
                                                           href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                                                           target="_blank"><i class="fa fa-google"></i>
                                    <h5>گوگل </h5>
                                </a></div>
                                <div class="media-right">
                                    <div class="profile bg-size"><img class="bg-img"
                                                                      src="{% static 'images/contact/2.jpg' %}"
                                                                      alt="Avatar"/></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="personal-info-group">
                <h3>جزئیات تماس </h3>
                <ul class="basic-info">
                    <li>
                        <h5>نام</h5>
                        <h5 class="details">سعید</h5>
                    </li>
                    <li>
                        <h5>جنسیت</h5>
                        <h5 class="details">آقا</h5>
                    </li>
                    <li>
                        <h5>تولد</h5>
                        <h5 class="details">9 فروردین 1401</h5>
                    </li>
                    <li>
                        <h5>کتاب مورد علاقه</h5>
                        <h5 class="details">شیمی عالی</h5>
                    </li>
                    <li>
                        <h5>شهر</h5>
                        <h5 class="details">مشهد</h5>
                    </li>
                    <li>
                        <h5>شماره موبایل</h5>
                        <h5 class="details ltr">+98 915 555 5555</h5>
                    </li>
                    <li>
                        <h5>ایمیل</h5>
                        <h5 class="details">email@test.com</h5>
                    </li>
                    <li>
                        <h5>وب سایت</h5>
                        <h5 class="details">www.test.com</h5>
                    </li>
                    <li>
                        <h5 class="m-0">علاقه مندی ها</h5>
                        <h5 class="details">عکاسی</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

  <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/styles.js' %}"></script>
  <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/zoom-gallery.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>