{% load static %}
<div class="row">
    <div class="col-sm-5">
        <div class="user-profile mb-3">
            <div class="user-content"><img class="img-fluid" src="assets/images/contact/2.jpg"
                                           alt="user-img"/>
                <h3>سعید مظفری</h3>
                <h4 class="mt-2 ltr">+98 915 555 5555</h4>
                <ul>
                    <li><i class="fa fa-twitch"></i>پیام</li>
                    <li><i class="fa fa-phone" data-toggle="modal" data-target="#audiocall"></i>تماس تصویری
                    </li>
                    <li><i class="fa fa-video-camera" data-toggle="modal" data-target="#videocall"></i>تماس
                        تصویری
                    </li>
                </ul>
            </div>
        </div>
        <div class="user-profile">
            <div class="document">
                <div class="filter-block">
                    <div class="collapse-block open">
                        <h5 class="block-title">اسناد ارسال شده
                            <label class="badge badge-success sm ml-2">3</label>
                        </h5>
                        <div class="block-content">
                            <ul class="document-list">
                                <li><i class="ti-folder font-danger"></i>
                                    <h5>Simple_practice_project-zip</h5>
                                </li>
                                <li><i class="ti-write font-success"></i>
                                    <h5>Word_Map-jpg</h5>
                                </li>
                                <li><i class="ti-zip font-primary"></i>
                                    <h5>Latest_Design_portfolio.pdf</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="call-log-main custom-scroll">
            <div class="coll-log-group">
                <div class="log-content-left">
                    <div class="media"><i data-feather="phone-incoming"></i>
                        <div class="media-body">
                            <h5>تماس های ورودی </h5>
                        </div>
                    </div>
                </div>
                <div class="log-content-right">
                    <h6>15 دقیقه پیش 5:10 &nbsp;(1401/01/01)</h6>
                </div>
            </div>
            <div class="coll-log-group">
                <div class="log-content-left">
                    <div class="media"><i data-feather="phone-incoming"></i>
                        <div class="media-body">
                            <h5>تماس خروجی</h5>
                        </div>
                    </div>
                </div>
                <div class="log-content-right">
                    <h6>30 دقیقه پیش 10:30 &nbsp;(1401/01/05)</h6>
                </div>
            </div>
            <div class="coll-log-group">
                <div class="log-content-left">
                    <div class="media"><i data-feather="phone-missed"></i>
                        <div class="media-body">
                            <h5>تماس های از دست رفته</h5>
                        </div>
                    </div>
                </div>
                <div class="log-content-right">
                    <h6>1 دقیقه پیش 8:30 &nbsp; (1401/01/02)</h6>
                </div>
            </div>

        </div>
        <div class="call-log-clear"><i class="ti-trash font-danger"></i><span class="font-danger">حذف تاریخچه
                تماس</span></div>
    </div>
</div>

  <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/styles.js' %}"></script>
  <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/zoom-gallery.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>