{% load static %}
<div class="theme-title">
    <div class="media">
        <div>
            <h2>فایلها</h2>
            <h4>رسانه های ارسال شده</h4>
        </div>
        <div class="media-body media-body text-right"><a
                class="icon-btn btn-sm btn-outline-light close-apps"
                href="#"><i data-feather="x"> </i></a></div>
    </div>
</div>
<div class="theme-tab">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link button-effect active" data-toggle="pill"
                                href="#tab1">رسانه</a>
        </li>
        <li class="nav-item"><a class="nav-link button-effect" data-toggle="pill"
                                href="#tab2">لینک</a></li>
        <li class="nav-item"><a class="nav-link button-effect" data-toggle="pill"
                                href="#tab3">اسناد</a></li>
    </ul>
</div>
<div class="file-tab">
    <div class="tab-content custom-scroll">
        <div class="tab-pane active" id="tab1">
            <div class="media-gallery portfolio-section grid-portfolio">
                <div class="collapse-block open">
                    <h5 class="block-title">1401/01/01
                        <label class="badge badge-primary sm ml-2">8</label>
                    </h5>
                    <div class="block-content">
                        <div class="row share-media zoom-gallery">
                            <div class="col-4 isotopeSelector filter">
                                <div class="media-big">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/1.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/1.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/2.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/3.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <h5 class="block-title">1401/01/02
                        <label class="badge badge-primary sm ml-2">5</label>
                    </h5>
                    <div class="block-content">
                        <div class="row share-media zoom-gallery">
                            <div class="col-4 isotopeSelector filter">
                                <div class="media-big">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/1.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/1.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/2.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/3.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <h5 class="block-title">1401/01/02
                        <label class="badge badge-primary sm ml-2">2</label>
                    </h5>
                    <div class="block-content">
                        <div class="row share-media zoom-gallery">
                            <div class="col-4 isotopeSelector filter">
                                <div class="media-big">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/1.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/1.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/2.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/3.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/4.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/4.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="media-small isotopeSelector filter fashion">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/5.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/5.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/2.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/3.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/4.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/4.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="block-title">1401/01/02
                        <label class="badge badge-primary sm ml-2">2</label>
                    </h5>
                    <div class="block-content">
                        <div class="row share-media zoom-gallery">
                            <div class="col-4 isotopeSelector filter">
                                <div class="media-big">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/1.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/1.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/2.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/3.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/4.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/4.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="media-small isotopeSelector filter fashion">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/5.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/5.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/2.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/3.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="media-small isotopeSelector filter">
                                    <div class="overlay">
                                        <div class="border-portfolio"><a
                                                href="assets/images/gallery/4.jpg">
                                            <div class="overlay-background"><i class="ti-plus"
                                                                               aria-hidden="true"></i>
                                            </div>
                                            <img
                                                    class="img-fluid bg-img"
                                                    src="assets/images/gallery/4.jpg"
                                                    alt="portfolio-image"/>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2">


            <div class="link-group">
                <div class="media"><i data-feather="link"></i>
                    <div class="media-body">
                        <h5 class="mt-0">قالب JQuery</h5>
                        <h6>12:05 بعدازظهر امروز </h6>
                    </div>
                </div>
                <a href="#">قالب </a>
                <div class="media"><img class="img-fluid" src="assets/images/file_icons/12.png"
                                        alt="media-img"/>
                    <div class="media-body">
                        <h5>لورم ایپسوم متن ساختگی</h5>
                        <h6 class="mt-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h6>
                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade" id="tab3">
            <ul class="chat-main">
                <li>
                    <div class="chat-box">
                        <div class="media">
                            <div class="profile"><a
                                    class="icon-btn btn-outline-danger btn-xl pull-right rouded15"
                                    href="#"><i class="fa fa-file-code-o"></i></a></div>
                            <div class="details">
                                <h5>messenger.html</h5>
                                <h6>2 فروردین 1401</h6>
                            </div>
                            <div class="media-body"><a
                                    class="icon-btn btn-outline-light btn-sm pull-right"
                                    href="assets/doc/messenger.html" target="_blank"><i
                                    data-feather="download"></i></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-box">
                        <div class="media">
                            <div class="profile"><a
                                    class="icon-btn btn-outline-success btn-xl pull-right rouded15"
                                    href="#"><i class="fa fa-file-video-o"></i></a></div>
                            <div class="details">
                                <h5>chapter1.MP4</h5>
                                <h6>3 فروردین 1401</h6>
                            </div>
                            <div class="media-body"><a
                                    class="icon-btn btn-outline-light btn-sm pull-right"
                                    href="assets/doc/chapter1.MP4" target="_blank"><i
                                    data-feather="download"></i></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-box">
                        <div class="media">
                            <div class="profile"><a
                                    class="icon-btn btn-outline-primary btn-xl pull-right rouded15"
                                    href="#"><i class="fa fa-file-word-o"></i></a></div>
                            <div class="details">
                                <h5>salary.xlsx</h5>
                                <h6>5 فروردین 1401</h6>
                            </div>
                            <div class="media-body"><a
                                    class="icon-btn btn-outline-light btn-sm pull-right"
                                    href="assets/doc/salary.xlsx" target="_blank"><i
                                    data-feather="download"></i></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-box">
                        <div class="media">
                            <div class="profile"><a
                                    class="icon-btn btn-outline-warning btn-xl pull-right rouded15"
                                    href="#"><i class="fa fa-file-pdf-o"></i></a></div>
                            <div class="details">
                                <h5>document.pdf</h5>
                                <h6>6 فروردین 1401</h6>
                            </div>
                            <div class="media-body"><a
                                    class="icon-btn btn-outline-light btn-sm pull-right"
                                    href="assets/doc/document.pdf" target="_blank"><i
                                    data-feather="download"></i></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-box">
                        <div class="media">
                            <div class="profile"><a
                                    class="icon-btn btn-outline-danger btn-xl pull-right rouded15"
                                    href="#"><i class="fa fa-file-text-o"></i></a></div>
                            <div class="details">
                                <h5>details.txt</h5>
                                <h6>6 فروردین 1401</h6>
                            </div>
                            <div class="media-body"><a
                                    class="icon-btn btn-outline-light btn-sm pull-right"
                                    href="assets/doc/details.txt" target="_blank"><i
                                    data-feather="download"></i></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-box">
                        <div class="media">
                            <div class="profile"><a
                                    class="icon-btn btn-outline-success btn-xl pull-right rouded15"
                                    href="#"><i class="fa fa-file-code-o"></i></a></div>
                            <div class="details">
                                <h5>messenger.html</h5>
                                <h6>2 فروردین 1401</h6>
                            </div>
                            <div class="media-body"><a
                                    class="icon-btn btn-outline-light btn-sm pull-right"
                                    href="assets/doc/messenger.html" target="_blank"><i
                                    data-feather="download"></i></a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


  <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/styles.js' %}"></script>
  <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
  <script src="{% static 'js/tour/intro.js' %}"></script>
  <script src="{% static 'js/tour/intro-init.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/zoom-gallery.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>