<div class="sticker-sub-contain custom-scroll">
    <ul>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/1.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/2.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/3.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/3.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/4.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/5.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/6.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/7.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/8.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/9.gif" alt="sticker"/></a>
        </li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/10.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/11.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/12.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/13.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/14.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/15.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/16.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/17.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/18.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/19.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/20.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/21.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/22.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/23.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/24.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/25.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/26.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/27.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/28.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/29.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/30.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/31.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/32.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/33.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/34.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/35.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/36.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/37.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/38.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/39.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/40.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/41.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/42.gif"
                             alt="sticker"/></a></li>
        <li><a href="#"><img class="img-fluid" src="assets/images/sticker/43.gif"
                             alt="sticker"/></a></li>
    </ul>
</div>