{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="login-page1">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-contain-main">
                    <div class="left-page">
                        <div class="login-content">
                            <div class="login-content-header"><img class="image-fluid"
                                                                   src="{{ site_detail.logo.url }}"
                                                                   alt="images"></div>
                            <h3>پیام رسان ایمن و سریع</h3>
                            <h4>برای استفاده وارد حساب کاربری خود شوید.</h4>
                            <form class="form1">
                                <div class="form-group">
                                    <label class="col-form-label" for="inputEmail3">تلفن</label>
                                    <input class="form-control" id="inputEmail3" type="text"
                                           placeholder="تلفن خود را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputPassword3">رمز ورود</label><span> </span>
                                    <input class="form-control" id="inputPassword3" type="password"
                                           placeholder="رمز ورود خود را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <div class="rememberchk">
                                        <div class="form-check">
                                            <input class="form-check-input" id="gridCheck1" type="checkbox">
                                            <label class="form-check-label" for="gridCheck1">مرا بخاطر بسپار.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="buttons d-flex"><a class="btn btn-primary button-effect" href="#">ورود
                                        به سایت</a>
                                    </div>
                                </div>
                            </form>
                            <div class="line">
                                <h6>یا ورود با</h6>
                            </div>
                            <div class="medialogo">
                                <ul>
                                    <li><a class="icon-btn btn-danger button-effect" href="#"><i
                                            class="fa fa-google"></i></a></li>
                                    <li><a class="icon-btn btn-primary button-effect" href="#"><i
                                            class="fa fa-twitter"></i></a></li>
                                    <li><a class="icon-btn btn-facebook button-effect" href="#"><i
                                            class="fa fa-facebook-f"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="termscondition">
                                <h4 class="mb-0"><span>*</span>شرایط و قوانین استفاده<b>&amp;</b>سیاست حریم خصوصی</h4>
                            </div>
                        </div>
                    </div>
                    <div class="right-page">
                        <div class="right-login animat-rate">
                            <div class="animation-block">
                                <div class="bg_circle">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="cross"></div>
                                <div class="cross1"></div>
                                <div class="cross2"></div>
                                <div class="dot"></div>
                                <div class="dot1"></div>
                                <div class="maincircle"></div>
                                <div class="top-circle"></div>
                                <div class="center-circle"></div>
                                <div class="bottom-circle"></div>
                                <div class="bottom-circle1"></div>
                                <div class="right-circle"></div>
                                <div class="right-circle1"></div>
                                <img class="heart-logo" src="{% static 'images/login_signup/5.png' %}"
                                     alt="login logo"/><img class="has-logo" src="{% static 'images/login_signup/4.png' %}"
                                                            alt="login logo"/><img class="login-img"
                                                                                   src="{% static 'images/login_signup/1.png' %}"
                                                                                   alt="login logo"/><img
                                    class="boy-logo" src="{% static 'images/login_signup/6.png' %}"
                                    alt="login boy logo"/><img class="girl-logo" src="{% static 'images/login_signup/7.png' %}"
                                                               alt="girllogo"/><img class="cloud-logo"
                                                                                    src="{% static 'images/login_signup/2.png' %}"
                                                                                    alt="login logo"/><img
                                    class="cloud-logo1" src="{% static 'images/login_signup/2.png' %}"
                                    alt="login logo"/><img class="cloud-logo2" src="{% static 'images/login_signup/2.png' %}"
                                                           alt="login logo"/><img class="cloud-logo3"
                                                                                  src="{% static 'images/login_signup/2.png' %}"
                                                                                  alt="login logo"/><img
                                    class="cloud-logo4" src="{% static 'images/login_signup/2.png' %}"
                                    alt="login logo"/><img class="has-logo1" src="{% static 'images/login_signup/4.png' %}"
                                                           alt="login logo"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}