{% load static %}
<div class="notes-main">
    <div class="theme-title">
        <div class="media">
            <div>
                <h2>یادداشت</h2>
                <h4>لیست یادداشت ها</h4>
            </div>
            <div class="media-body media-body text-right"><a
                    class="icon-btn btn-sm btn-outline-light close-apps"
                    href="#"><i data-feather="x"></i></a></div>
        </div>
    </div>
    <form class="default-form">
        <div class="form-group notes-content">
            <select>
                <option>مخاطب یا گروه</option>
                <option>آخر هفته ها</option>
                <option>روزانه</option>
                <option>هفتگی (سفارشی)</option>
            </select>
            <ul>
                <li><a class="icon-btn btn-light button-effect btn-sm" data-toggle="modal"
                       data-target="#notesModal"><i data-feather="plus"></i></a></li>
            </ul>
        </div>
    </form>
    <div class="notes-list custom-scroll" style="max-height:350px;overflow-y:scroll;height:350px">
        <h6 class="mb-2 text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h6>
        <div class="media"><img class="img-fluid mr-3" src="{% static 'images/file_icons/5.png' %}"
                                alt="media-img"/>
            <div class="media-body">
                <h5 class="mt-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
            </div>
        </div>
        <h5 class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
        <h6 class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</h6>
        <div class="forward-main"><a class="line fa fa-mail-forward" href="#">فروارد </a></div>
    </div>
</div>

  <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/styles.js' %}"></script>
  <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
  <script src="{% static 'js/tour/intro.js' %}"></script>
  <script src="{% static 'js/tour/intro-init.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/zoom-gallery.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>