{% load static %}
<div class="reminder-main">
    <div class="theme-title">
        <div class="media">
            <div>
                <h2>یادآور</h2>
                <h4>تنظیم یادآورها</h4>
            </div>
            <div class="media-body media-body text-right"><a
                    class="icon-btn btn-sm btn-outline-light close-apps"
                    href="#"><i data-feather="x"></i></a></div>
        </div>
    </div>
    <div class="reminder-content tab-card"><i class="ti-alarm-clock"></i>
        <p>لورم ایپسوم متن ساختگی .</p><a class="setreminder btn btn-primary button-effect btn-sm"
                                          data-toggle="modal" data-target="#setReminder">ثبت
            یادآور</a>
    </div>
    <div class="reminder-list-disp">
        <h5>لورم ایپسوم متن ساختگی</h5>
        <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h6><span>11:22 بعدازظهر | 15 </span>
        <ul class="reminder-disp">
            <li class="reminder-list-toggle"><a class="icon-btn bg-transparent" href="#"><i
                    data-feather="more-vertical"></i></a>
                <div class="reminder-contentlist-toggle">
                    <ul>
                        <li><a class="icon-btn btn-sm" href="#"><i data-feather="trash"></i></a>
                            <h5>حذف</h5>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="reminder-list custom-scroll"
         style="max-height:350px;overflow-y:scroll;height:350px">
        <button class="Show-reminder">نمایش تمام شده ها</button>
        <button class="Hide-reminder">پنهان سازی تمام شده ها</button>
        <div class="target-reminder-list">
            <h5>آغاز جلسه</h5>
            <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h6>
            <h6>05:22 بعدازظهر | 1</h6>
            <ul class="reminder-disp">
                <li class="reminder-toggle"><a class="icon-btn bg-transparent" href="#"
                                               data-tippy-content="عملیات سریع"><i
                        data-feather="more-vertical"></i></a>
                    <div class="reminder-content-toggle">
                        <ul>
                            <li><a class="icon-btn btn-sm" href="#"><i data-feather="trash"></i></a>
                                <h5>حذف</h5>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

  <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/styles.js' %}"></script>
  <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
  <script src="{% static 'js/tour/intro.js' %}"></script>
  <script src="{% static 'js/tour/intro-init.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/zoom-gallery.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>