<div class="my-status-box">
    <div class="status-content">
        <div class="media">
            <div class="img-status">
                <div class="user-status two"><img class="img-fluid bg-img"
                                                  src="assets/images/avtar/girls.jpg"
                                                  alt="status"/></div>
                <div class="upload-img">
                    <input type="file"/>
                </div>
            </div>
            <div class="media-body">
                <h3>وضعیت های من</h3>
                <p>برای بروزرسانی وضعیت خود روی علامت (+) کلیک کنید.</p>
            </div>
            <div><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="contact-status-box">
    <div class="theme-title">
        <h3>آخرین بروزرسانی ها</h3>
    </div>


    <div class="status-content">
        <ul>
            <li class="user-status"><a class="lightbox img-status status" href="#statusbox"><img
                    class="img-fluid bg-img" src="assets/images/status-img/small/sm-1.jpg"
                    alt="status"/></a>
                <div class="lightbox-target" id="statusbox"><img
                        src="assets/images/status-img/large/lg-1.jpg"
                        alt="status"/><a class="lightbox-close" href="#"></a></div>
            </li>
            <li>
                <h5>سعید مظفری</h5>
                <p>امروز ، 8:30 صبح</p>
            </li>
        </ul>
    </div>


</div>