{% load static %}
<div class="my-status-box">
    <div class="status-content">
        <div class="media">
            <div class="img-status">
                <div class="user-status two"><img class="img-fluid bg-img"
                                                  src="{% static 'images/avtar/girls.jpg' %}"
                                                  alt="status"/></div>
                <div class="upload-img">
                    <input type="file"/>
                </div>
            </div>
            <div class="media-body">
                <h3>وضعیت های من</h3>
                <p>برای بروزرسانی وضعیت خود روی علامت (+) کلیک کنید.</p>
            </div>
            <div><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="contact-status-box">
    <div class="theme-title">
        <h3>آخرین بروزرسانی ها</h3>
    </div>


    <div class="status-content">
        <ul>
            <li class="user-status"><a class="lightbox img-status status" href="#statusbox"><img
                    class="img-fluid bg-img" src="{% static 'images/status-img/small/sm-1.jpg' %}"
                    alt="status"/></a>
                <div class="lightbox-target" id="statusbox"><img
                        src="{% static 'images/status-img/large/lg-1.jpg' %}"
                        alt="status"/><a class="lightbox-close" href="#"></a></div>
            </li>
            <li>
                <h5>سعید مظفری</h5>
                <p>امروز ، 8:30 صبح</p>
            </li>
        </ul>
    </div>


</div>

  <script src="{% static 'js/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'js/feather-icon/feather-icon.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/styles.js' %}"></script>
  <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
  <script src="{% static 'js/ckeditor/ckeditor.custom.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.en.js' %}"></script>
  <script src="{% static 'js/date-picker/datepicker.custom.js' %}"></script>
  <script src="{% static 'js/tour/intro.js' %}"></script>
  <script src="{% static 'js/tour/intro-init.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/zoom-gallery.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>