<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                لیست کارهای امروز</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form class="default-form">
                <div class="todo-task">
                    <h5>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                    <div class="todo-main-content">
                        <div class="form-group">
                            <input type="checkbox" aria-label="Checkbox for following text input"/>
                            <input class="w-100" id="user_input123" type="text"
                                   placeholder="توضیحات خود را اینجا بنویسید "/>
                        </div>
                        <div class="drop-picker">
                            <div class="dropdown currency" tabindex="1">
                                <div class="select"><span>اختصاص به</span></div>
                                <input type="hidden" name="currency"/>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-divider">
                                        <div class="fa fa-user text-muted"></div>
                                        <h5 class="text-muted">اختصاص به</h5>
                                    </li>
                                    <li>الهام جعفری</li>
                                    <li>سعید مظفری</li>
                                    <li>رویا مرادی</li>
                                    <li>علی علوی</li>
                                </ul>
                            </div>
                            <input class="datepicker-persian form-control digits" type="url" data-language="en"
                                   placeholder="تاریخ انجام"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger button-effect btn-sm" type="button">ذخیره</button>
            <button class="btn btn-primary button-effect btn-sm" type="button" data-dismiss="modal">انصراف</button>
        </div>
    </div>
</div>