<!DOCTYPE html>
<html lang="fa">

<head>
  <title>چیت چت - قالب html پیام رسان - صفحه خطای 404</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Chitchat">
  <meta name="keywords" content="Chitchat">
  <meta name="author" content="Chitchat">
  <link rel="icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/date-picker.css">
  <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" id="color">
  <link rel="stylesheet" type="text/css" href="assets/css/tour.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/skins/moono-lisa/editor.css?t=HBDD">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/scayt/dialogs/dialog.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/tableselection/styles/tableselection.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css">
  <link rel="stylesheet" href="assets/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Farsi fonts stylesheet ; for more information ; https://rastikerdar.github.io/vazirmatn/ -->
  <link rel="stylesheet" href="assets/fonts/vazir/Farsi-Digits/Vazirmatn-FD-font-face.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="rtl">
  <div class="inner-page">
    <!-- header start //-->
    <header id="home">
      <div class="custom-container">
        <div class="row">
          <div class="col-12">
            <div class="landing-header">
              <div class="main-menu">
                <nav class="navbar navbar-expand-sm navbar-light"><a class="navbar-brand" href="messenger.html">
                    <div class="logo-block"><img class="img-fluid" src="assets/images/logo/landing-logo.png"
                        alt="logo" /></div>
                  </a>
                  <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation"><span
                      class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse d-xl-block" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active"><a class="nav-link" href="messenger.html">پیام رسان <span
                            class="sr-only">(current)</span></a></li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">بلاگ</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="blog-page(right-sidebar).html">بلاگ - سایدبار سمت راست</a></li>
                          <li class="nav-link"><a href="blog-page(left-sidebar).html">بلاگ - سایدبار سمت چپ</a></li>
                          <li class="nav-link"><a href="blog-page(blog-details).html">جزئیات بلاگ</a></li>
                          <li class="nav-link"><a href="blog-page(no-sidebar).html">بلاگ بدون سایدبار</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">قالبهای ایمیل</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="email.html">1 - پایه</a></li>
                          <li class="nav-link"><a href="email-two.html">2 - بازنشانی رمز ورود</a></li>
                          <li class="nav-link"><a href="email-three.html">3 - بازنشانی رمز ورود </a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">احراز هویت</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="login.html">ورود 1</a></li>
                          <li class="nav-link"><a href="signup.html">ثبت نام 1</a></li>
                          <li class="nav-link"><a href="login-2.html">ورود کلاسیک(2)</a></li>
                          <li class="nav-link"><a href="signup-2.html">ثبت نام کلاسیک(2)</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">صفحات هدیه</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="about.html">درباره</a></li>
                          <li class="nav-link"><a href="faq.html">سوالات متداول</a></li>
                          <li class="nav-link"><a href="elements.html">المنت ها</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="tap-top">
      <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <section class="breadcrumb-main">
      <div class="custom-container">
        <ul>
          <li><a href="messenger.html">پیام رسان</a></li>
          <li><a href="#">404</a></li>
        </ul>
        <h2>404</h2>
      </div>
    </section>
  </div>
  <section class="error-main">
    <ul class="page-decore">
      <li class="top"><img class="img-fluid inner2" src="assets/images/landing/footer/2.png" alt="footer-back-img"></li>
      <li class="bottom"><img class="img-fluid inner2" src="assets/images/landing/footer/2.png" alt="footer-back-img">
      </li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="error-contain">
            <h1>404</h1>
            <h2>محتوا یافت نشد</h2>
            <h4>صفحه ایی که به دنبال آن هستید در دسترس نیست. <br>
              این مسئله به دلیل این است که صفحه وجود ندارد <br> یا به جای دیگری منتقل شده است.</h4><a
              class="btn btn-primary" href="messenger.html">بازگشت به پیام رسان</a>
            <div class="animated-bg"><i></i><i></i><i></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container footer-main">
      <div class="row footer-block">
        <div class="col-lg-3 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h3>درباره</h3>
          </div>
          <div class="about-payment footer-contant">
            <div class="logo"><a href="messenger.html"><img src="assets/images/logo/landing-logo.png" alt="logo" /></a>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
              متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
              متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <ul class="social-group">
              <li><a class="icon-btn btn-google button-effect btn-sm" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="icon-btn btn-twiter button-effect btn-sm" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="icon-btn btn-linkedin button-effect btn-sm" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="icon-btn btn-instagram button-effect btn-sm" href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="links">
            <div class="footer-title">
              <h3>لینک های مفید</h3>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">خدمات</a></li>
                <li><a href="#">بلاگ</a></li>
                <li><a href="#">تماس با ما</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="links">
            <div class="footer-title">
              <h3>راهنمای چیت چت</h3>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                <li><a href="#">سوالات متداول</a></li>
                <li><a href="#">پشتیبانی</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">تیم چیت چت</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="links">
            <div class="footer-title">
              <h3>دانلود برای</h3>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="#">ویندوز</a></li>
                <li><a href="#">لینوکس</a></li>
                <li><a href="#">آی او اس</a></li>
                <li><a href="#">اندروید</a></li>
                <li><a href="#">مکینتاش</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="downlaod">
            <div>
              <div class="footer-title">
                <h3>دانلود اپلیکیشن ها</h3>
              </div>
              <div class="footer-contant">
                <div class="footer-btn">
                  <a class="btn active" href="#">
                    <div>
                      <h4>دانلود از</h4>
                      <h4>App store</h4>
                    </div>
                    <i class="fa fa-apple"></i>
                  </a>
                  <a class="btn" href="#">
                    <div>
                      <h4>دانلود از</h4>
                      <h4>Google play</h4>
                    </div>
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-back-block"><img class="img-fluid inner1" src="assets/images/landing/footer/2.png"
        alt="footer-back-img" /><img class="img-fluid inner2" src="assets/images/landing/footer/2.png"
        alt="footer-back-img" /></div>
    <div class="container copyright-footer">
      <div class="row copyright">
        <div class="col-md-6 col-sm-12">
          <p>© 1401 چیت چت. کلیه حقوق محفوظ است</p>
        </div>
        <div class="col-md-6 col-sm-12 links_horizontal">
          <p class="text-right">توسعه داده شده از صمیم <span>&hearts; </span>توسط تیم چیت چت</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/tippy-bundle.iife.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/switchery.js"></script>
  <script src="assets/js/feather-icon/feather.min.js"></script>
  <script src="assets/js/feather-icon/feather-icon.js"></script>
  <script src="assets/js/tour/intro.js"></script>
  <script src="assets/js/tour/intro-init.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <script src="assets/js/zoom-gallery.js"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>