<!DOCTYPE html>
<html lang="fa">

<head>
  <title>چیت چت - قالب html پیام رسان - درباره ما</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Chitchat">
  <meta name="keywords" content="Chitchat">
  <meta name="author" content="Chitchat">
  <link rel="icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/date-picker.css">
  <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" id="color">
  <link rel="stylesheet" type="text/css" href="assets/css/tour.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/skins/moono-lisa/editor.css?t=HBDD">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/scayt/dialogs/dialog.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/tableselection/styles/tableselection.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css">
  <link rel="stylesheet" type="text/css" href="assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css">
  <link rel="stylesheet" href="assets/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Farsi fonts stylesheet ; for more information ; https://rastikerdar.github.io/vazirmatn/ -->
  <link rel="stylesheet" href="assets/fonts/vazir/Farsi-Digits/Vazirmatn-FD-font-face.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="rtl">
  <div class="inner-page">
    <!-- header start //-->
    <header id="home">
      <div class="custom-container">
        <div class="row">
          <div class="col-12">
            <div class="landing-header">
              <div class="main-menu">
                <nav class="navbar navbar-expand-sm navbar-light"><a class="navbar-brand" href="messenger.html">
                    <div class="logo-block"><img class="img-fluid" src="assets/images/logo/landing-logo.png"
                        alt="logo" /></div>
                  </a>
                  <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation"><span
                      class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse d-xl-block" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active"><a class="nav-link" href="messenger.html">پیام رسان <span
                            class="sr-only">(current)</span></a></li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">بلاگ</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="blog-page(right-sidebar).html">بلاگ - سایدبار سمت راست</a></li>
                          <li class="nav-link"><a href="blog-page(left-sidebar).html">بلاگ - سایدبار سمت چپ</a></li>
                          <li class="nav-link"><a href="blog-page(blog-details).html">جزئیات بلاگ</a></li>
                          <li class="nav-link"><a href="blog-page(no-sidebar).html">بلاگ بدون سایدبار</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">قالبهای ایمیل</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="email.html">1 - پایه</a></li>
                          <li class="nav-link"><a href="email-two.html">2 - بازنشانی رمز ورود</a></li>
                          <li class="nav-link"><a href="email-three.html">3 - بازنشانی رمز ورود </a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">احراز هویت</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="login.html">ورود 1</a></li>
                          <li class="nav-link"><a href="signup.html">ثبت نام 1</a></li>
                          <li class="nav-link"><a href="login-2.html">ورود کلاسیک(2)</a></li>
                          <li class="nav-link"><a href="signup-2.html">ثبت نام کلاسیک(2)</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">صفحات هدیه</a>
                        <ul class="dropdown-menu">
                          <li class="nav-link"><a href="about.html">درباره</a></li>
                          <li class="nav-link"><a href="faq.html">سوالات متداول</a></li>
                          <li class="nav-link"><a href="elements.html">المنت ها</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="breadcrumb-main">
      <div class="custom-container">
        <ul>
          <li><a href="messenger.html">پیام رسان</a></li>
          <li><a href="#">درباره ما</a></li>
        </ul>
        <h2>درباره ما</h2>
      </div>
    </section>
  </div>
  <div>
    <ul class="page-decore">
      <li class="top"><img class="img-fluid inner2" src="assets/images/landing/footer/2.png" alt="footer-back-img"></li>
      <li class="bottom"><img class="img-fluid inner2" src="assets/images/landing/footer/2.png" alt="footer-back-img">
      </li>
    </ul>
    <section class="about-page section-py-space">
      <div class="custom-container">
        <div class="row" style="align-items: center; justify-content: center;">
          <div class="col-sm-8 text-center"><img class="img-fluid w-100 pb-4"
              src="assets/images/about/1.jpg" alt="about">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <p class="justified_text">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                  متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
                  علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                  دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای
                  اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- secure-app start //-->
    <!-- testimonial start//-->
    <section class="section-py-space">
      <div class="custom-container testimonial-main">
        <div class="row">
          <div class="col-12">
            <div class="testimonial-slider owl-carousel owl-theme pt-0">
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/1.png"
                      alt="test-img" /><i class="test-wish fa fa-heart"></i></div>
                  <div class="test-contain">
                    <h4>سعید مظفری</h4>
                    <h3>توسعه دهنده</h3>
                    <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon1.png" alt="icon-google" /></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon2.png" alt="icon-google" /></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon3.png" alt="icon-google" /></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/2.png"
                      alt="test-img" /></div>
                  <div class="test-contain">
                    <h4>سعید مظفری</h4>
                    <h3>توسعه دهنده</h3>
                    <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon1.png" alt="icon-google" /></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon2.png" alt="icon-google" /></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon3.png" alt="icon-google" /></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/3.png"
                      alt="test-img" /><i class="test-wish fa fa-heart"></i></div>
                  <div class="test-contain">
                    <h4>سعید مظفری</h4>
                    <h3>توسعه دهنده</h3>
                    <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon1.png" alt="icon-google" /></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon2.png" alt="icon-google" /></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon3.png" alt="icon-google" /></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-box mt-0">
                  <div class="test-img"><img class="img-fluid" src="assets/images/landing/testimonial/4.png"
                      alt="test-img" /><i class="test-wish fa fa-heart"></i></div>
                  <div class="test-contain">
                    <h4>سعید مظفری</h4>
                    <h3>توسعه دهنده</h3>
                    <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h6>
                    <ul class="test-icon">
                      <li><a href="https://www.google.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon1.png" alt="icon-google" /></a></li>
                      <li><a href="https://twitter.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon2.png" alt="icon-google" /></a></li>
                      <li><a href="https://www.facebook.com/"><img class="img-fluid"
                            src="assets/images/landing/testimonial/icon3.png" alt="icon-google" /></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-back-content"><img class="img-fluid test-img2"
            src="assets/images/landing/testimonial/6.png" alt="testimonial" /></div>
      </div>
    </section>
    <!-- testimonial end //-->
    <!--app section start //-->
    <section class="section-pb-space secure-app-main">
      <div class="custom-container">
        <div class="row">
          <div class="col-xl-5 offset-xl-7 col-lg-5 offset-lg-7">
            <div class="secure-app-content">
              <div>
                <div class="ply-main">
                  <div class="ply-content"><i class="ti-shield"></i></div>
                  <h3>پیام های خود را ایمن ارسال کنید</span></h3>
                </div>
                <h1>یکی از امن ترین برنامه های پیام رسان دنیا</h1>
                <h4><span>نسخه دسکتاپ </span>: راحتی در استفاده ، کاربرپسند ، طراحی جذاب ، با امکانات فراوان همچون 
                  : قالب تاریک و روشن ، گفتگوهای اخیر ، یادداشت های من ، لیست کارها(TODO List) ، یادآورها و ... </h4>
                  <a class="btn pricing-btn" href="#">ادامه مطلب</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--app section end //-->
    <!-- counter section  start//-->
    <section class="counter-sec section-py-space counter-main">
      <div class="container">
        <div class="counter-title">
          <h4 class="title-line">شمارنده ها</h4>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="counter-slider owl-carousel owl-theme pt-0">
              <div class="item">
                <div class="counter-box-second">
                  <div class="counter-box">
                    <div><i class="counter-icon fa fa-user-o"></i>
                      <h6 class="counter-no count">8000</h6><span>مشتری خشنود</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="counter-box-second">
                  <div class="counter-box">
                    <div><i class="counter-icon fa fa-square-o"></i>
                      <h6 class="counter-no count">12000</h6><span>کاربر فعال</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="counter-box-second">
                  <div class="counter-box">
                    <div><i class="counter-icon fa fa-heart-o"></i>
                      <h6 class="counter-no count">9000</h6><span>دقیقه مکالمه رایگان</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="counter-box-second">
                  <div class="counter-box">
                    <div><i class="counter-icon fa fa-comments-o"></i>
                      <h6 class="counter-no count">140000</h6><span>پیام ارسال شده </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- counter section  end//-->
  </div>
  <footer>
    <div class="container footer-main">
      <div class="row footer-block">
        <div class="col-lg-3 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h3>درباره</h3>
          </div>
          <div class="about-payment footer-contant">
            <div class="logo"><a href="messenger.html"><img src="assets/images/logo/landing-logo.png" alt="logo" /></a>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
              متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
              متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <ul class="social-group">
              <li><a class="icon-btn btn-google button-effect btn-sm" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="icon-btn btn-twiter button-effect btn-sm" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="icon-btn btn-linkedin button-effect btn-sm" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="icon-btn btn-instagram button-effect btn-sm" href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="links">
            <div class="footer-title">
              <h3>لینک های مفید</h3>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">خدمات</a></li>
                <li><a href="#">بلاگ</a></li>
                <li><a href="#">تماس با ما</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="links">
            <div class="footer-title">
              <h3>راهنمای چیت چت</h3>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                <li><a href="#">سوالات متداول</a></li>
                <li><a href="#">پشتیبانی</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">تیم چیت چت</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="links">
            <div class="footer-title">
              <h3>دانلود برای</h3>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="#">ویندوز</a></li>
                <li><a href="#">لینوکس</a></li>
                <li><a href="#">آی او اس</a></li>
                <li><a href="#">اندروید</a></li>
                <li><a href="#">مکینتاش</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="downlaod">
            <div>
              <div class="footer-title">
                <h3>دانلود اپلیکیشن ها</h3>
              </div>
              <div class="footer-contant">
                <div class="footer-btn">
                  <a class="btn active" href="#">
                    <div>
                      <h4>دانلود از</h4>
                      <h4>App store</h4>
                    </div>
                    <i class="fa fa-apple"></i>
                  </a>
                  <a class="btn" href="#">
                    <div>
                      <h4>دانلود از</h4>
                      <h4>Google play</h4>
                    </div>
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-back-block"><img class="img-fluid inner1" src="assets/images/landing/footer/2.png"
        alt="footer-back-img" /><img class="img-fluid inner2" src="assets/images/landing/footer/2.png"
        alt="footer-back-img" /></div>
    <div class="container copyright-footer">
      <div class="row copyright">
        <div class="col-md-6 col-sm-12">
          <p>© 1401 چیت چت. کلیه حقوق محفوظ است</p>
        </div>
        <div class="col-md-6 col-sm-12 links_horizontal">
          <p class="text-right">توسعه داده شده از صمیم <span>&hearts; </span>توسط تیم چیت چت</p>
        </div>
      </div>
    </div>
  </footer>
  <div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
  </div>
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/tippy-bundle.iife.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/switchery.js"></script>
  <script src="assets/js/feather-icon/feather.min.js"></script>
  <script src="assets/js/feather-icon/feather-icon.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/tour/intro.js"></script>
  <script src="assets/js/tour/intro-init.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <script src="assets/js/zoom-gallery.js"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>